h3.ui.header, .modal .header {
    text-transform: capitalize; 
}

.ui.borderless.menu .item {
    padding: .1em .3em;
}

.ui.borderless.menu {
    border: none;
    box-shadow: none;
}

h3.header button.circular.icon {
    font-size: 0.75em;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem !important;
    margin: 0.5rem !important;
}

.modal .actions button.negative.left {
    position: absolute !important;
    left: 0.5em;
}