.closeButton-container {
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 1rem;
    background: red;
    color: white;
    border-radius: 5px;
    border: darkred 2px solid;
    width: fit-content;
}