body, html {
	height: initial;
}

/* Contact Info Sub-Headings: Capitalize */
h3.ui.header, .modal .header {
	text-transform: capitalize; 
}

/* Section Headers: Fix padding */
.ui.borderless.menu .item {
	padding: .1em .3em;
}

/* Section Headers: Borderless */
.ui.borderless.menu {
	border: none;
	box-shadow: none;
}

/* Edit Buttons: Size and position */
h3.header button.circular.icon {
	font-size: 0.75em;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5rem !important;
	margin: 0.5rem !important;
}

/* Name Edit Button: Size */
h1 button.circular.icon {
	font-size: 0.75em !important;
	padding: 0.5rem !important;
	margin: 0.5rem !important;
}

/* Skills Edit Button: Size */
.list .item button.circular.icon {
	font-size: 0.75em;
	padding: 0.5rem !important;
}

/* Delete Button: Position */
.modal .actions button.negative.left {
	position: absolute !important;
	left: 0.5em;
}